.container {
    background: black;
    color: white;
    width: 600px;
    height: 100vh;
    overflow-y: auto;
    font-family: Consolas, monospace;
    padding: 0 10px;
}

.message::before {
    content: '> ';
}

.input {
    background: none;
    border: none;
    color: white;
}
.input::before {
    content: '> ';
}

.input:focus {
    outline: none;
}
